/* SECTION */
.jobs-section {
  padding: 80px 8%;
  background: #f8fafc;
  text-align: center;
}

/* TITLE */
.jobs-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #d79906;
}

.jobs-subtitle {
  margin-bottom: 40px;
  color: #555;
}
.nav-link
{
  text-decoration: none;
}

/* FILTERS */
.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

/* BUTTON */
.clear-btn {
  background: #eee;
  border: none;
  cursor: pointer;
}

/* GRID */
.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.job-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;

  transition: transform 0.25s ease;
}

.job-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.job-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENT */
.job-content {
  padding: 15px;
  text-align: left;
}

.job-content h3 {
  color: #b68a1f;
  margin-bottom: 5px;
}

.job-content p {
  font-size: 0.9rem;
  color: #666;
}

.job-content span {
  color: blue;
  font-size: 0.85rem;
}

/* EMPTY */
.no-data {
  grid-column: span 3;
  color: red;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {
  .jobs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .jobs-grid {
    grid-template-columns: 1fr;
  }

  .filters {
    grid-template-columns: 1fr;
  }
}